{% extends "layout.html" %}
{% block content %}

    <div class="container py-5">
        <div class="row text-center">

            <div class="text-center">
                <img src="/static/images/LePostAClass1.png">
            </div>
        </div>
        <div class="row">

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <div class="card border-light mb-3" style="max-width: 40rem;">
                        <div class="card-body" style="text-align: center">
                            <a href="/results" class="nav-link text-dark font-italic">
                                <i class="fa fa-cubes fa-5x text-primary fa-fw"></i>
                                Some of our results
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <div class="card border-light mb-3" style="max-width: 40rem;">
                        <div class="card-body" style="text-align: center">
                            <a href="http://pls.upu.int/pls/ap/ssp_report.main?p_language=AN&p_choice=BROWSE"
                               class="nav-link text-dark font-italic">
                                <i class="fa fa-address-card fa-5x text-primary fa-fw"></i>
                                Data source
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <div class="card border-light mb-3" style="max-width: 40rem;">
                        <div class="card-body" style="text-align: center">
                            <a href="/your_data" class="nav-link text-dark font-italic">
                                <i class="fa fa-envelope fa-5x text-primary fa-fw"></i>
                                Try with your data
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-3 col-lg-6 mb-4">
                <div class="bg-white rounded-lg p-5 shadow">
                    <div class="card border-light mb-3" style="max-width: 40rem;">
                        <div class="card-body" style="text-align: center">
                            <a href="/performances" class="nav-link text-dark font-italic">
                                <i class="fa fa-pie-chart fa-5x text-primary fa-fw"></i>
                                Performances
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock content %}